<% if notice!=nil %>
<p id="notice"><%= notice %></p>
<%end%>
Send by:-<br>
<%= image_tag @message.from_user.avatar.url(:small) %>
<p>
  <b>CONTENT:</b>
  <%= @message.content %>
</p>
  <div class="assets">
    <% for asset in @message.assets %>
       <%#= asset.document_file_name %>
      
       <%#= link_to asset.document_file_name ,:action => :download, :file_name => asset.document_file_name if asset.document_file_name %> 
       
    <%end%>
  </div>


<%= link_to 'Back', request.referrer %>
