<h1>Update picture</h1>
<div class="depot_form">
  <%= form_for @user,:html => { :multipart => true}  ,:url => update_picture_users_path do |f| %>
  <fieldset>
    <legend>Update New picture</legend>
    <table>
     <tr>
       <td><%= f.label :avatar%></td>
       <td><%= f.file_field :avatar %></td>
     </tr>
    </table>
    <div>
      <%= f.submit %>
    </div>
  </fieldset>
  <% end %>
</div>

