#banner {
  background:  #8d3c89;
  padding: 10px;
  padding-bottom:15px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: white;
  text-align: center;

  img {
		height:45px;
    float:left;
		
  }
  #user
  {
  font: bold small sans-serif;
  float: right;
 
  }
}
tr#display{
  border-color:#9933FF;
  border-style:solid;
  border-width:2px;
}
#right {
float:right;
margin-top:-50px;
}
.create {
    background-color:#9922bb;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#fafafa;
    font-family:arial;
    font-size:12px;
    font-weight:bold;
    padding:7px 24px;
    text-decoration:none;
    text-shadow:0px 0px 0px #70706f;
}.create:hover {
    background-color:#9966aa;
}.create:active {
    position:relative;
    top:1px;
}  
 fieldset {
    padding:10px;
    margin:10px;

    legend {
      color: #dfd;
      background: #800080;
      font-family: sans-serif;
      padding: 0.2em 1em;
    }
  }
#box {
  overflow: auto;
  height:70px;
  width:90%;
  border-color:#9933FF;
  border-style:solid;
  border-width:2px;
}
#content {
  min-height:10px; 
  height:auto;
  width:58em;
  border-color:#9933FF;
  border-style:solid;
  border-width:2px;
}
#outer {
  border-color:blue;
}
#odd {
  border-color:yellow;
}
#even {
  border-color:#993366;
}

#notice {
  width: 70%;
  color: #000 !important;
  border: 2px solid #26722D ;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #A4E7A0;;
  font: bold smaller sans-serif;
}
#alert {
  width: 70%;
  color: #000 !important;
  border: 2px solid #ffcc00 ;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #ffff88;
  font: bold smaller sans-serif;
}

#error {
  width: 70%;
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}
#columns {
  background: #8d3c89;

  #main {
    margin-left: 17em;
    padding: 1em;
    background: white;
  }

//#START:side
  #side {
    float: left;
    padding: 1em 2em;
    width: 13em;
    background:  #8d3c89;

    ul {
      padding: 0;

      li {
        list-style: none;

        a {
          color: white;
          font-size: large;
        }
      }
    }
  }
}
.depot_form {
  display:relative;
  fieldset {
    background: #6cd2d7;

    legend {
      color: #dfd;
      background: #800080;
      font-family: sans-serif;
      padding: 0.2em 1em;
    }
  }
  
  form {
      label {
      width: 5em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;

    }
    
    textarea, input {
      margin-left: 0.5em;
    }

    .submit {
      margin-left: 4em;
    }
 

  }
}
label[for = 'remember_me'] {
      width:6em !important;
      float:none !important;
      margin-left: 1.2em;
      margin-top: -1.4em;
    }
div#errors{
  color:red;
}
table#center{
td{
  text-align:center;
}
}
td.error
{
background:red;

}
tr.read
{
	background:#C5FF6C;
}
tr.unread
{
	background:#F8A9A9;
}
.field_with_errors{
  color:red;
  input{
    border: 2px solid red;
  }
}